footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: var(--secondary);
}

.about-us {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.payment-types {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.payment-images {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 500px;
    padding: 5px;
}

.payment-images img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

#about-us-description {
    width: 800px;
    text-align: justify;
}